# Ignore virtual environment directories
venv/
.venv/

# Ignore Visual Studio Code workspace and settings files
.vscode/

# Ignore Python byte code cache directories
__pycache__/

# Ignore .DS_Store files
.DS_Store

# Ignore config
**/config.py

# Ignore images except 3 basic examples
*.png 
*.jpg 
*.bmp 
*.gif 
*.jpeg 
*.tiff 
*.tif 
*.svg
!src/readme/illust_0.jpeg
!src/readme/illust_1.jpeg
!src/readme/illust_2.jpeg
!src/readme/illust_0_character.jpeg
!src/readme/illust_1_character.jpeg
!src/readme/illust_2_character.jpeg
!src/readme/Cookie.jpg

# ignore .pth models
*.pth

# ignore test file
test.py
```