# Ignore virtual environment directories
venv/
.venv/

# Ignore Visual Studio Code workspace and settings files
.vscode/

# Ignore Python byte code cache directories
__pycache__/

# Ignore .DS_Store files
.DS_Store

# Ignore config
**/config.py

# Ignore images except 3 basic examples
*.png 
*.jpg 
*.bmp 
*.gif 
*.jpeg 
*.tiff 
*.tif 
*.svg
!assets/illust_0.jpeg
!assets/illust_1.jpeg
!assets/illust_2.jpeg
!assets/illust_3.jpeg
!assets/illust_0_character.jpeg
!assets/illust_1_character.jpeg
!assets/illust_2_character.jpeg
!assets/illust_0_smartcrop_0.jpeg
!assets/illust_1_smartcrop_0.jpeg
!assets/illust_2_smartcrop_0.jpeg
!assets/Cookie.jpg

# ignore .pth onnx models & tagger info
*.pth
*.onnx
*.csv

# ignore test file
test.py

#ignore txt
*.txt
```