rembg==2.0.47
charset-normalizer==3.0.1
cssselect==1.2.0
idna==3.4
lxml==4.9.2
pyquery==2.0.0
requests==2.28.2
tqdm==4.64.1
urllib3==1.26.14
opencv-python==4.7.0.72
torch==2.0.1
torchvision==0.15.2
huggingface-hub==0.15.1